h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 48px;
  padding: 7px;
  margin: 25px 0px -20px 0px;
}

h2 {
  font-size: 24px;
  margin: 0;
  border-bottom: 10px solid silver;
  margin: 10px 60px 0px 60px;
}
p {
  font-size: 15px;
  margin: 10px;
}

.box {
  inline-size: 60%;
  overflow-wrap: break-word;
}

