body {
  background-color: bisque;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 48px;
  padding: 7px;
  margin: 30px;
}

.new-form {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem));
  font-size: 2rem;
  border: 10px silver solid;
  background-color: bisque;
  margin: 10px
}

form * {
  padding: 7px;
  font-size: 1.8rem;
  margin: 10px;
  font-family: 'Rock Salt', cursive;
}

#album-btn {
  width: 15rem;
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  margin: 30px;
  background-color: rgb(90, 132, 209);
  
}

