<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">


<main>
  <nav><a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
  </a></nav>
  <h1>up·beat</h1>
  <div id="heading">
    <p>noun:<br>an unaccented beat preceding an accented beat.</p>
  </div>
  <div id="head-description">
    <p>As a platform for the unpublished audio consumer to draft music reviews in their own unique voice,<br>
    <strong>UpBeat</strong> exists precisely in that unaccented space when emotion and thought intersect.</p>
  </div>

  <div>
    <img id="main-pic" src="https://i.imgur.com/LYfKsG1.png" alt="Brain">
  </div>


<%- include('./partials/footer') %>
