.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: rgb(243, 203, 153);;
  height: 100px;
  font-size: 15px;
  border-top: 10px solid silver;
  border-bottom: 10px solid silver;
  margin: 10px 20px 0px 20px;
}

.logo {
  height: 72px;
  width: 115px;
  border: 1px solid black;
  border-radius: 20%;
  justify-content:left;
  margin-right: auto;
}

.nav-links a {
  color:rgb(18, 91, 150);
  padding: 40px;
  margin: 10px;
  font-family:  'Rock Salt', cursive;
}



