.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(230, 180, 56);
  height: 100px;
  font-size: 15px;
  border: 10px solid silver;
}

.logo {
  height: 75px;
  width: 120px;
  border: 1px solid black;
  border-radius: 20%;
  justify-content:left;
}

.nav-links a {
  color:rgb(7, 78, 31);
  padding: 7px;
  

  
}



