<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('./partials/nav') %>

<h1> <%= title %> </h1>
  <form action="/albums" method="POST">
    <label>Title:
      <input type="text" name="title">
    </label><br>
    <label>Artist:
      <input type="text" name="artist">
    </label><br>
    <label>Release Year:
      <input type="'text" name="year">
    </label><br>
    <label>Record Label:
      <input type="text" name="recordLabel">
    </label><br>
    <button type="submit">Add It!</button>
  </form>


<%- include('./partials/footer') %>